<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">Paul Stephen Milne</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a class="page-scroll" href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#work">Work</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<section class="intro-section">

<h1>Paul Stephen Milne <br><small>his website</small></h2>

    <p>This is my experimental website, using Ruby on Rails with a Bootstrap theme.</p>

    <p>This site is hosted on Heroku.</p>

</section>

<section id="about" class="about-section">

    <h2>About</h2>

    <p>A few facts about me:</p>

    <ul>

        <li>I've lived and worked in Scotland since 1987.</li>
        <li>I've worked for the Scottish Wildlife Trust, Moray House and the University of Edinburgh. I was at the University for 18 years, from 1998 to 2016.</li>
        <li>I trained as a programmer in a 16 week course at Codeclan in 2016.</li>
        <li>In 2017 I was hired by the Scottish Government in the Agriculture, Food and Rural Communities (AFRC) Division, as a Business Intelligence Developer.</li>
    </ul>

</section>

<section id="work" class="work-section">

    <h2>Work</h2>

    <p>I have two Wordpress blogs for my writing:</p>

    <ul>
        <li><strong>Opus 58:</strong> Creative writing - poetry and songs mainly.</li>
        <li><strong>Bicycle of Life:</strong> Bicycle and political advocacy, and coding.</li>
    </ul>

</section>
